{
  "presets": [
    "env",
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    }
  }
}
