{
  "presets": [
    "env",
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "flow-react-proptypes",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
