{
  "extends": [
    "mystand",
    "mystand-react",
    "mystand-flow"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "process": true,
    "require": true,
    "module": true,
    "__dirname": true,
    "Generator": true,
    "SyntheticInputEvent": true,
    "test": true,
    "expect": true
  },
  "parser": "babel-eslint",
  "rules": {
    "flowtype/space-before-type-colon": [0, "never"], // have a bug
    "flowtype/space-after-type-colon": [0, "always"], // have a bug

    "import/no-unresolved": 0 // use flow for this inspection
  }
}